table.coll {
	border-collapse: collapse;
	height: 100px;
	width: 200px;
}

table {
	border: 1px solid black;	
}

td {
	color: black;
	border: 1px solid blue;	
	background-color: white;
	text-align: left;
}

tr {
	color: white;
	background-color: blue;
	text-align: center;
}